#loginForm .error-holder{color:#cc3300; margin: 5px 0;text-align: left;}
.hit230{height:230px;}
.hit270{height:270px;}
.hit290{height:290px;}
.hit50{height:50px!important;}

.result_message{color:rgb(255, 0, 0);display:none;}

.loading-button {background: url("../img/loading22.gif") no-repeat scroll center center rgba(0, 0, 0, 0);cursor: default;display: none;height: 100%;left: 0;position: absolute;
    top: 0; width: 100%; z-index: 6;}
.loading{display: block;}

.login-loading{background: url("../img/loading22.gif") no-repeat scroll center center #144D76;}

table tr.even{background: none repeat scroll 0 0 #f8f8f8;}

.captcha-refresh{
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -240px -24px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 4px;
    vertical-align: text-top;
    width: 14px;
}
.captcha-refresh-animate{
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
.captcha-input-first{width:30px !important; margin:5px; text-align:center;} 
.captcha-input-sec{width:30px !important; text-align:center;}
.captcha-text{width:70px !important; text-align:center;} 

.show{ display: block!important;}
.hide{ display: none!important;}
.popup-padding{padding: 15px 10px!important;}

 #divLoader{position: absolute;left: 50%;top: 55%; margin: -16px 0 0 -16px; z-index: 99999; color: #000;}

/* CSS for pagination */
/*.simple-pagination {    display: block;    float: right;    margin: 0;    overflow: hidden;    padding: 18px 0 5px;}
.simple-pagination li {float: left; list-style: none outside none; margin: 0; padding: 0;}
.simple-pagination li {    background: -moz-linear-gradient(center top , #ffffff 0%, #efefef 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);    border: 1px solid #bbb;    border-radius: 3px;    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);    color: #666;    float: left;    font-size: 14px;    font-weight: normal;    line-height: 24px;    margin: 0 5px 0 0;    min-width: 14px;    padding: 0 7px;    text-align: center;}
.simple-pagination li.active {    background: none repeat scroll 0 0 #666;    border-color: #444;    box-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 0 2px rgba(0, 0, 0, 0.3) inset;    color: #fff;    cursor: default;}
.simple-pagination li.active a{color: #fff;}
.simple-pagination li.disabled {    background: none repeat scroll 0 0 #ccc;    border-color: #444;    box-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 0 2px rgba(0, 0, 0, 0.3) inset;    color: #fff;    cursor: default;}
.simple-pagination ul{margin: 0;}
.simple-pagination ul li{width: auto}
*/

.simple-pagination {display: block;overflow: hidden;padding: 15px 0 15px 0;margin: 0;width: 100%; clear: both;}
.simple-pagination ul {list-style: none;padding: 0;margin: 0; float: right;}
.simple-pagination li {list-style: none;padding: 0;margin: 0;float: left; width: inherit;border: none; background: #fff;}
.simple-pagination li a{
    float: left;
    color: #666;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #BBB;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}
.simple-pagination li a:hover{text-decoration: none;background: #FCFCFC; color: #666;}
.simple-pagination li.active a,.simple-pagination li.active a:hover{background: #666;color: #FFF;border-color: #444;box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;cursor: default;}
.simple-pagination li.disabled {background: none repeat scroll 0 0 #ccc;border-color: #444;box-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 0 2px rgba(0, 0, 0, 0.3) inset;color: #fff;cursor: default;}
.showingdiv{float: left; padding-top: 3px; padding-bottom: 3px;}
.showingdiv label{font-size: 14px;line-height: 1.4;font-family: 'Open Sans', sans-serif;color: #333;}

.showing_region{width: 100%;padding: 15px 0px;}
.showing-result {
    margin: 0px;
    overflow: hidden;
}
.usershowing{padding-bottom: 0px;}
.container.grid .user-row .user-activity-info{margin-top:0 !important;}

.icon-status.verified { background-position: -100px -450px; }
.icon-status.blocked { background-position: -150px -450px; }
.icon-status.deleted { background-position: -200px -450px; }
.icon-status.pending { background-position: -250px -450px; }

.no_record_message{color:rgb(255, 0, 0);}
.w530{width: 510px!important;}
#change_password_popup input[type="password"]{width: 227px;}

.img-190-160{
    height: 160px;
    width: 190px;
}

.detail-right{ width: 350px!important;}
.footer-copyright{text-align: right;color: #999999;float: left;font-size: 12px; margin-top: 17px;}

#loader {
    background: none repeat scroll 0 0 rgba(255, 108, 103, 0.9);
    cursor: default;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.spinner {
    background: url("../img/loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 26px;
    margin: -13px 0 0 -13px;
    width: 26px;
}
.spinner{
    cursor: default;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 99;
}
.scroller{max-height:500px; overflow-y:auto; overflow-x: hidden;}
.thumbnail40 img{ height: 40px; max-width: 40px;}

#PostChart rect[fill="#333333"],#PageChart rect[fill="#333333"],#GroupChart rect[fill="#333333"],#EventChart rect[fill="#333333"],#UserChart rect[fill="#333333"],#MediaChart rect[fill="#333333"],#EngageChart rect[fill="#333333"],#UserEngageChart rect[fill="#333333"]{display: none;}
/*#UserEngageChart svg{margin-left: -75px;}*/


.upload-image {}
.button-wrapper {position: relative; overflow-y: hidden; width: 100px; overflow: hidden;margin: 5px 0;}
.button-wrapper button {width: 100%;}
.attached-media #ImageThumbLoader {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}



/*Photo upload*/
.photo-upload{background-color:#F1F1F1; border-radius:3px; overflow:hidden; margin-bottom: 20px; padding:20px;}
.photo-upload .cropit-image-zoom-input{ background-color: transparent; margin-bottom:0;}
.default-photo{background-color:#fff; width: 150px; height:150px; border-radius:2px; margin:0 auto; display:table;; }
.default-photo > .up-btn{display:table-cell; vertical-align: middle; text-align:center;}
.default-photo > .up-btn > a {display:inline-block;}
/*.icon-add{background-position:-550px -150px; width: 50px; height:50px;}*/
.img-close{position: absolute;right: -5px;background-color:rgba(202,65,33,1);line-height: 1;width: 24px;height: 24px;border-radius: 50%;top: -5px;color:#fff;}
.img-close:hover{color:#fff;}
.img-close>i{display: block;text-align: center;vertical-align: middle;line-height: 24px;}
.icon-xclose{width:10px; height:10px; background-position:-550px -300px; margin:7px 0 0 7px;}

.cover-photo-upload{background-color:#F1F1F1; border-radius:3px; overflow:hidden; margin-bottom: 20px; padding:15px;}
.default-cover-photo{background-color:#fff; width: 150px; height:150px; border-radius:2px; margin:0 auto; display:table;; }
.default-cover-photo > .up-btn{display:table-cell; vertical-align: middle; text-align:center;}
.default-cover-photo > .up-btn > a {display:inline-block;}

.cropit-image-preview {
    background-color: #f8f8f8;
    background-size: cover;
    cursor: move;
    height: 150px;
    width: 150px;
    border-radius:3px;
    position: relative;
}
.cropit-image-zoom-input {
    margin: 25px auto;
    width: 150px !important;
}
.cropit-image-input{
    position: inherit !important;
}

#cover-image-cropper{padding:10px}
#cover-image-cropper .cropit-image-preview {
    background-color: #f8f8f8;
    background-size: cover;
    cursor: move;
    height: 455px;
    width: 1520px;
    border-radius:3px;
    position: relative;
}
#cover-image-cropper .cropit-image-zoom-input {
    margin: 25px auto 0 auto;
    width: 1505px !important;
}
cover-image-cropper .cropit-image-input{
    position: inherit !important;
}
.cover-photo-scroller{overflow-x:auto; max-width:1010px; padding:5px;}
.photo-upload #image-cropper{text-align: center;}
.photo-upload .cropit-image-preview{margin:0 auto}

.default-photo-preview,
.default-cover-photo-preview{position: relative; margin:0 auto;}
.default-photo-preview .img-close,
.default-cover-photo-preview .img-close{z-index:1;}

.default-photo-preview .cropit-image-preview,
.default-cover-photo-preview .cropit-image-preview{overflow:hidden;}

.default-photo-preview{width:150px; height:150px;}
.default-cover-photo-preview .cropit-image-preview{width:1010px; height:auto;}
.default-photo-preview .cropit-image-preview img{left: 50%; position: relative;top: 50%;transform: translate(-50%, -50%);width:100%;height:100%;}