<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" data-ng-app="sportsConn">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>:: SportsConn ::</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="{{baseUrl}}">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="assets/css/main.css">
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body data-ng-controller="mainCtrl">
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header"> <a class="navbar-brand" href="home.html">
        <svg class="svg-icons">
          <use xlink:href="assets/img/sprite.svg#logoIco"></use>
        </svg>
        </a> </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-controls="navbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
      <div id="navbar1" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="about.html">ABOUT SPORTSCONN</a></li>
          <li><a>JOIN NOW</a></li>
          <li><a data-target="#loginModal" data-toggle="modal">LOGIN</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<nav class="navbar navbar-inverse navbar-static" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarStatic">PRIVACY POLICY</button>
    </div>
    <div id="navbarStatic" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="privacy-policy.html">PRIVACY POLICY</a></li>
        <li><a href="user-agreement.html">USER AGREEMENT</a></li>
        <li><a href="payment-terms.html">PAYMENT TERMS</a></li>
        <li><a href="pages-terms.html">PAGES TERMS</a></li>
        <li class="active"><a href="ad-guidelines.html">AD-GUIDELINES</a></li>
      </ul>
    </div>
  </div>
</nav>
<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-static">
          <div class="panel-body">
            <h3 class="page-header">SPORTSCONN ADVERTISING GUIDELINES</h3>                       
              <ol>
                <li>
                  <h3 class="sub-heaher">The Ad Review Process</h3>
                  <p>Before ads show up on SportsConn, they are reviewed to ensure they comply with these Advertising Guidelines. Typically, most ads are reviewed within 24 hours.</p>                                
                </li>
                <li>
                  <h3 class="sub-heaher">Using Text in Images and Videos</h3>
                  <p>Ads must not include images with text that covers more than 20% of the image's area. This requirement applies to both images and video thumbnails. </p>
                </li>
                <li>
                  <h3 class="sub-heaher">Mentioning SportsConn in Your Ads</h3>
                  <p>Should you need to refer to SportsConn in an ad, please ensure that you:</p>
                  <p>(a) Write “SportsConn” with a capital “S” and “C”</p>
                  <p>(b) Display the word “SportsConn” in the same font size and style as the content surrounding it</p>
                  <p>(c) Do not use the SportsConn logo in place of the word “SportsConn”</p>
                  <p>(d) Do not make SportsConn plural, use it as a verb or abbreviate it</p>
                  <p>(e) Do not use an altered version of the SportsConn logo in the image for your ad</p>
                </li>
                <li>
                  <h3 class="sub-heaher">Age-Restricted Material</h3>
                  <p>Ad’s will not be approved if they are trying to show photos or messages to an audience that's too young. For example, ads for alcohol must meet certain guidelines which include restrictions on age based on the targeted location's laws on alcohol ads.</p>
                </li>  
                <li>
                  <h3 class="sub-heaher">Things You Should Know</h3>
                  <ol>
                    <li>These Advertising Guidelines apply to:
                    <p>(a) all ads and commercial content served by or purchased through SportsConn, on or off the SportsConn services, and</p> 
                    <p>(b) ads appearing within apps on SportsConn.</p>
                    </li>
                    <li>Your use of SportsConn’s advertising products and services is part of “SportsConn” under SportsConn’s User Agreement. You may be subject to additional terms or guidelines if you use certain SportsConn advertising-related products or services.</li>
                    <li>Advertisers are responsible for understanding and complying with all applicable laws and regulations. Failure to comply may result in a variety of consequences, including the cancellation of ads you have placed and termination of your account.</li>
                    <li>We do not use sensitive personal data for ad targeting. Topics you choose for targeting your ad don't reflect the personal beliefs, characteristics or values of users.</li>
                    <li>If you are managing ads on behalf of other advertisers, each advertiser or client must be managed through separate ad accounts. You must not change the advertiser or client associated with an established ad account; set up a new account. You are responsible for ensuring that each advertiser complies with these Advertising Guidelines.</li>
                    <li>We reserve the right to reject, approve or remove any ad for any reason, in our sole discretion, including ads that negatively affect our relationship with our users or that promote content, services, or activities, contrary to our competitive position, interests, or advertising philosophy.</li>
                    <li>These policies are subject to change at any time without notice. </li>
                  </ol>
                </li>
                <li>
                  <h3 class="sub-heaher">Prohibited Content</h3>
                  <ol>
                    <li>Ads must not constitute, facilitate, or promote illegal products, services or activities. Ads targeted to minors must not promote products, services, or content that are inappropriate, illegal, or unsafe, or that exploit, mislead, or exert undue pressure on the age groups targeted.</li>
                    <li>Ads must not promote the sale or use of the following:
                      <ol class="lower-roman">
                        <li>Illegal, prescription, or recreational drugs;</li>
                        <li>Tobacco products and related paraphernalia;</li>
                        <li>Unsafe supplements, as determined by SportsConn in its sole discretion;</li>
                        <li>Weapons, ammunition, or explosives; or</li>
                        <li>Adult products or services (except for ads for family planning and contraception).</li>
                      </ol>
                    </li>
                    <li>Ads must not contain any of the following:
                      <p>(b) Content that infringes upon or violates the rights of any third party, including copyright, trademark, privacy, publicity, or other personal or proprietary rights.</p>
                      <ol class="lower-roman">
                        <li>Adult content. This includes nudity, depictions of people in explicit or suggestive positions, or activities that are overly suggestive or sexually provocative.</li>
                        <li>Content that asserts or implies personal attributes. This includes direct or indirect assertions or implications about a person’s race, ethnic origin, religion, beliefs, age, sexual orientation or practices, gender identity, disability, medical condition (including physical or mental health), financial status, membership in a trade union, criminal record, or name.</li>
                        <li>Deceptive, false, or misleading content, including deceptive claims, offers, or business practices.</li>
                        <li>Content that exploits controversial political or social issues for commercial purposes.</li>
                        <li>Audio or flash animation that plays automatically without a person's interaction or expands within SportsConn after someone clicks on the ad.</li>
                        <li>Non-functional landing pages. This includes landing pages that interfere with a person’s ability to navigate away from the page.</li>
                        <li>Spyware, malware, or any software that results in an unexpected or deceptive experience. This includes links to sites containing these products.</li>
                        <li>Bad grammar or punctuation. Symbols, numbers, and letters must be used properly.</li>
                        <li>Images that portray nonexistent functionality.</li>
                        <li>Payday loans, paycheck advances or any other short-term loan intended to cover someone's expenses until their next payday.</li>
                      </ol>
                    </li>                    
                  </ol>
                </li>
                <li>
                  <h3 class="sub-heaher">Restricted Content</h3>
                  <ol>
                    <li><strong>Alcohol:</strong> Ads that promote or reference alcohol must: 
                      <p>(c) Comply with all applicable local laws, required or established industry codes, guidelines, licenses and approvals and</p>                     
                      <ol class="lower-roman">
                        <li>apply age and country targeting criteria consistent with SportsConn's targeting guidelines and applicable local laws.</li>
                      </ol>
                    </li>
                    <li><strong>Dating:</strong> Ads for online dating services must adhere to the dating targeting requirements and our dating quality guidelines found <a class="btn-link link-icon"><span class="icon">
                    <svg class="svg-icons" width="16px" height="8px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#linkIco"></use>
                    </svg></span><span class="text">here</span></a>.</li>
                    <li><strong>Online real money gambling/games of skill:</strong> Ads that promote or facilitate online real money gambling, real money games of skill or real money lotteries, including online real money casino, sports books, bingo, or poker.</li>
                    <li><strong>State lotteries:</strong> Lotteries run by government entities may advertise on SportsConn, provided the ads are targeted in accordance with applicable law in the jurisdiction in which the ads will be served and only target users in the jurisdiction in which the lottery is available.</li>
                    <li><strong>Supplements:</strong> Ads that promote acceptable dietary and herbal supplements may only target users who are at least 18 years of age.</li>
                    <li><strong>Subscription services:</strong> Ads for subscription services, or that promote products or services that include negative options, automatic renewal, free-to-pay conversion billing products, or mobile marketing are subject to our subscription services requirements found <a class="btn-link link-icon"><span class="icon">
                    <svg class="svg-icons" width="16px" height="8px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#linkIco"></use>
                    </svg></span><span class="text">here</span></a>.</li>
                  </ol>                    
                </li>
                <li>
                  <h3 class="sub-heaher">Targeting</h3>
                  <ol>
                    <li>You must not use targeting options to discriminate against, harass, provoke, or disparage users or to engage in predatory advertising practices.</li>
                    <li>If you target your ads to custom audiences, you must comply with the <a>applicable terms</a> when creating an audience.</li>
                  </ol>
                </li>
                <li>
                  <h3 class="sub-heaher">Positioning</h3>
                  <ol>
                    <li>Relevancy: All components of an ad, including any text, images, or other media, must be relevant and appropriate to the product or service being offered and the audience viewing the ad.</li>
                    <li>Accuracy: Ads must clearly represent the company, product, service, or brand that is being advertised.</li>
                    <li>Landing pages: Products and services promoted in the ad copy must match those promoted on the landing page, and the destination site may not offer or link to any prohibited product or service.</li>
                  </ol>
                </li>
                <li>
                  <h3 class="sub-heaher">Use of our Brand Assets</h3>
                  <ol>
                    <li>Ads must not imply a SportsConn endorsement or partnership of any kind.</li>
                    <li>Ads linking to SportsConn branded content (including Pages, groups, events, or sites that use SportsConn Login) may make limited reference to "SportsConn" in ad text for the purpose of clarifying the destination of the ad.</li>
                    <li>All other ads and landing pages must not use our copyrights, <a>Trademarks</a>, or any confusingly similar marks, except as expressly permitted by SportsConn.</li>
                  </ol>
                </li>
                <li>
                  <h3 class="sub-heaher">Data Use Restrictions</h3>
                  <ol>
                    <li>Ensure any ad data collected, received or derived from your SportsConn ad <strong>(“SportsConn advertising data”)</strong> is only shared with someone acting on your behalf, such as your service provider. You are responsible for ensuring your service providers protect any SportsConn advertising data or any other information obtained from us, limit their use of all of that information, and keep it confidential and secure.</li>
                    <li>Don’t use SportsConn advertising data for any purpose (including retargeting, commingling data across multiple advertisers’ campaigns, or allowing piggybacking or redirecting with tags), except on an aggregate and anonymous basis (unless authorized by SportsConn) and only to assess the performance and effectiveness of your SportsConn advertising campaigns.</li>
                    <li>Don’t use SportsConn advertising data, including the targeting criteria for your ad, to build, append to, edit, influence, or augment user profiles, including profiles associated with any mobile device identifier or other unique identifier that identifies any particular user, browser, computer or device.</li>
                    <li>Don't transfer any SportsConn advertising data (including anonymous, aggregate, or derived data) to any ad network, ad exchange, data broker or other advertising or monetization related service.</li>
                  </ol>
                </li>
              </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer data-footer></footer>
<!--Modal Start-->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="form-panel-group">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
          	<button type="button" class="close" data-dismiss="modal">
			<svg class="svg-icons" width="16px" height="16px">
              <use xlink:href="assets/img/sprite.svg#closeIco"></use>
            </svg>
            </button>
            <h3 class="panel-title">LOGIN</h3>
            Don’t have an account? <a class="semibold" data-ng-click="formFlip=true">Sign Up</a> </div>
          <div class="panel-body">
            <form data-rel="form">
              <div class="input-group form-group"> <span class="input-group-addon">
                <svg class="svg-icons" width="18px" height="18px">
                  <use xlink:href="assets/img/sprite.svg#emailIco"></use>
                </svg>
                </span>
                <input type="text" placeholder="Email" class="form-control" on-focus>
                <span class="error-block">required field</span>
              </div>
              <div class="input-group form-group"> <span class="input-group-addon">
                <svg class="svg-icons" width="14px" height="19px">
                  <use xlink:href="assets/img/sprite.svg#lockIco"></use>
                </svg>
                </span>
                <input type="{{showpassword ? 'text' : 'password'}}" data-ng-model="loginPassword" placeholder="Password" class="form-control" on-focus>
                <span class="input-group-addon showhidePass">
                <input type="checkbox" id="showPassword" data-ng-model="showpassword" data-ng-checked="false">
                <label for="showPassword">
                  <svg class="svg-icons" width="20px" height="12px">
                    <use xlink:href="assets/img/sprite.svg#eyeIco"></use>
                  </svg>
                </label>
                </span> </div>
              <div class="form-group"> <span class="checkbox">
                <input type="checkbox" id="keepMeLogin">
                <label for="keepMeLogin">Keep me logged in</label>
                </span> </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block">LOGIN</button>
              </div>
              <div class="form-group text-center"><a class="btn-link" data-dismiss="modal" href="#forgotPassModal" data-toggle="modal">Forgotten your password?</a></div>
              <span class="or-divider">Or login with</span>
            </form>
          </div>
          <div class="panel-footer">
            <ul class="social-action">
              <li><a class="facebook">
                <svg class="svg-icons" width="8px" height="14px">
                  <use xlink:href="assets/img/sprite.svg#facebookIco"></use>
                </svg>
                </a></li>
              <li><a class="twitter">
                <svg class="svg-icons" width="14px" height="12px">
                  <use xlink:href="assets/img/sprite.svg#twitterIco"></use>
                </svg>
                </a></li>
              <li><a class="google">
                <svg class="svg-icons" width="17px" height="15px">
                  <use xlink:href="assets/img/sprite.svg#googleIco"></use>
                </svg>
                </a></li>
              <li><a class="linkedin">
                <svg class="svg-icons" width="14px" height="15px">
                  <use xlink:href="assets/img/sprite.svg#linkedIco"></use>
                </svg>
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="forgotPassModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
        <svg class="svg-icons" width="16px" height="16px">
          <use xlink:href="assets/img/sprite.svg#closeIco"></use>
        </svg>
        </button>
        <h3 class="modal-title">Forgotten Your Password</h3>
      </div>
      <div class="modal-body">
        <form data-rel="form">
          <div class="form-group form-group-lg">
            <div class="control-label">Email<span class="mandatory">*</span></div>
            <input type="text" class="form-control" placeholder="Enter email">
            <span class="error-block">Please Enter Your Eamil</span> </div>
          <div class="btn-group">
            <div class="btn-toolbar"><span class="link-text">Back to <a class="btn-link" data-dismiss="modal">Login</a></span></div>
            <div class="btn-toolbar btn-toolbar-right">
              <button class="btn btn-primary" data-dismiss="modal" data-target="#sentPassModal" data-toggle="modal">SUBMIT</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="sentPassModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header transparent">
        <button type="button" class="close" data-dismiss="modal">
        <svg class="svg-icons" width="16px" height="16px">
          <use xlink:href="assets/img/sprite.svg#closeIco"></use>
        </svg>
        </button>
      </div>
      <div class="modal-body success-message">
        <svg class="svg-icons" width="107px" height="98px">
          <use xlink:href="assets/img/sprite.svg#passSentIco"></use>
        </svg>
        <h2 class="page-header semibold">Your password has been reset</h2>
        <p class="semibold">Check your email for a reset password link.</p>
        Back to <a class="btn-link" data-dismiss="modal">Login</a> </div>
    </div>
  </div>
</div>
<!--Modal End--> 
<script src="assets/js/vendor/jquery-1.11.2.min.js"></script> 
<script src="assets/js/vendor/angular.min.js"></script> 
<script src="assets/js/vendor/match-media.js"></script> 
<script src="assets/js/vendor/bootstrap.min.js"></script> 
<script src="assets/js/vendor/jquery-ui.min.js"></script> 
<script src="assets/js/plugins.js"></script> 
<script src="assets/js/angular-wizard.min.js"></script> 
<script src="assets/js/app.js"></script> 
<script src="assets/js/controllers.js"></script> 
<script src="assets/js/main.js"></script>
</body>
</html>
