<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" data-ng-app="sportsConn">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>:: SportsConn ::</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="{{baseUrl}}">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="assets/css/main.css">
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body data-ng-controller="mainCtrl">
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header"> <a class="navbar-brand" href="home.html">
        <svg class="svg-icons">
          <use xlink:href="assets/img/sprite.svg#logoIco"></use>
        </svg>
        </a> </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-controls="navbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
      <div id="navbar1" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="about.html">ABOUT SPORTSCONN</a></li>
          <li><a>JOIN NOW</a></li>
          <li><a data-target="#loginModal" data-toggle="modal">LOGIN</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<nav class="navbar navbar-inverse navbar-static" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarStatic">PRIVACY POLICY</button>
    </div>
    <div id="navbarStatic" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="privacy-policy.html">PRIVACY POLICY</a></li>
        <li><a href="user-agreement.html">USER AGREEMENT</a></li>
        <li><a href="payment-terms.html">PAYMENT TERMS</a></li>
        <li class="active"><a href="pages-terms.html">PAGES TERMS</a></li>
        <li><a href="ad-guidelines.html">AD-GUIDELINES</a></li>
      </ul>
    </div>
  </div>
</nav>
<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-static">
          <div class="panel-body">
            <h3 class="page-header">SPORTSCONN PAGES TERMS</h3>           
            <p>The following terms, as well as our Privacy Policy and User Agreement, apply to all Pages on SportsConn. You are responsible for ensuring that your Page complies with all applicable laws, statutes, and regulations.</p>                                               
            <ol>
                <li><h3 class="sub-heaher">General</h3>
                  <ol>
                      <li>A Page for a brand, entity (place or organization), or public figure may be administered only by an authorized representative of that brand, entity (place or organization) or public figure (an “official Page”).</li>
                      <li>Any user may create a Page to express support for or interest in a brand, entity (place or organization), or public figure, provided that it does not mislead others into thinking it is an official Page, or violate someone's rights. If your Page is not the official Page of a brand, entity (place or organization) or public figure, you must:
                          <ol class="lower-roman">
                            <li>not speak in the voice of, or post content as though it was coming from, the authorized representative of the Page’s subject matter; and</li>
                            <li>make clear that the Page is not the official Page of the brand, entity (place or organization) or public figure.</li>
                          </ol>
                      </li>
                      <li>Content posted to a Page is public and viewable by everyone who can see the Page.</li>
                      <li>You are required to restrict access to Pages (through our gating functionality) as necessary to comply with applicable laws and SportsConn policies.</li>
                      <li>You may not establish terms for your Page that conflict with our User Agreement, Privacy Policy or these terms.</li>
                  </ol>
                </li>
                <li><h3 class="sub-heaher">Page Management</h3>
                  <ol>
                      <li><span class="semibold">Page Names and SportsConn Web Addresses</span>
                        <p>(b) Page names and SportsConn Web Addresses must accurately reflect Page content. We may remove administrative rights or require you to change the Page name and SportsConn Web Address for any Page that fails to meet this requirement.</p>
                        <p>i. Page names must:</p>
                        <ol class="lower-roman">
                          <li>not consist solely of generic terms (e.g., “sport” or “football”);</li>
                          <li>use proper, grammatically correct capitalization and may not include all capitals, except for acronyms;</li>
                          <li>not include character symbols, such as excessive punctuation and trademark designations;</li>
                          <li>not include superfluous descriptions or unnecessary qualifiers;</li>
                          <li>not mislead others into thinking it is an official Page of the Page’s subject matter or is authorized by an authorized representative of the Page’s subject matter; and</li>
                          <li>not violate someone’s rights.</li>
                        </ol>
                      </li>
                      <li><span class="semibold">Name Changes and Migrations</span>
                        <p>We will only process name changes and migrations that do not result in a misleading or unintended connection. For example, we will allow local to global migrations, such as “SportsConn France” to “SportsConn”, but will not allow global to local migrations, or location to location migrations, such as “SportsConn France” to “SportsConn Russia”. Additionally, you may not request a name change or migration that would result in re-categorizing a product Page to a brand Page, a generic or opinion Page to a brand Page, or a Group to a Page. All migrations are at our discretion and are final.</p>
                      </li>
                      <li><span class="semibold">Collection of Data</span>
                      <p>(c) If you collect content and information directly from users, you will make it clear that you (and not SportsConn) are collecting it, and you will provide notice about and obtain user consent for your use of the content and information that you collect. Regardless of how you obtain content and information from users, you are responsible for securing all necessary permissions to reuse their content and information.</p>
                      <p>i. You will not collect users' content or information, or otherwise access SportsConn, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our permission.</p>
                      </li>
                      <li><span class="semibold">Tagging</span>
                        <p>You must not inaccurately tag content or encourage users to inaccurately tag content (ex: don’t encourage people to tag themselves in photos if they aren’t in the photo).</p>
                      </li>
                  </ol>
                </li>
                <li><h3 class="sub-heaher">Page Features</h3>
                  <ol>
                    <li><span class="semibold">Advertising on Pages</span>
                      <p>Third-party advertisements on Pages are prohibited, without our prior permission.</p>
                    </li>  
                    <li><span class="semibold">Cover</span>
                      <p>All covers are public. This means that anyone who visits your Page will be able to see your cover. Covers can't be deceptive, misleading, or infringe on anyone else's copyright. You may not encourage people to upload your cover to their personal timelines.</p>
                    </li>  
                    <li><span class="semibold">Offers</span>
                      <p>If you create an offer using SportsConn’s offer creation tool, the following policies apply:</p>
                      <p>(d) SportsConn offers must be available for a limited time.</p>
                      <ol class="lower-roman">
                        <li>You may only run an offer if you are the merchant for or the manufacturer of the product or service you are promoting.</li>
                        <li>You must clearly and prominently disclose any restrictions on your offer (such as expiration date or limitations on redemption).</li>
                        <li>You are solely responsible for improper redemption, fraud, disputes or other issues that arise from the distribution and/or redemption of your offer.</li>
                        <li>If your offer may be redeemed at a merchant not operated by you, it is your sole responsibility to communicate with the merchant and ensure they honor your offer.</li>
                        <li>You must only use the offer creation tool for its intended functionality and not to promote your website or other contact information, or to offer the equivalent of a gift card, gift certificate or stored value card.</li>
                        <li>You are responsible for ensuring that your offer complies with these terms and all applicable laws, rules and regulations. Offers are subject to many regulations (such as alcohol discounts and offers marketed to minors) and if you are not certain that your offer complies with applicable law, consult with an expert.</li>
                      </ol>
                    </li>
                    <li><span class="semibold">Promotions</span>
                      <p>(e) If you use SportsConn to communicate or administer a promotion, you are responsible for the lawful operation of that promotion, including:</p>
                      <ol class="lower-roman">
                        <li>The official rules;</li>
                        <li>Offer terms and eligibility requirements (ex: age and residency restrictions); and</li>
                        <li>Compliance with applicable rules and regulations governing the promotion and all prizes offered (ex: registration and obtaining necessary regulatory approvals)</li>
                      </ol>
                      <p>i. Promotions on SportsConn must include the following:</p>
                      <ol class="lower-roman">
                        <li>A complete release of SportsConn by each entrant or participant.</li>
                        <li>Acknowledgement that the promotion is in no way sponsored, endorsed or administered by, or associated with, SportsConn.</li>
                      </ol>
                      <p>ii. We will not assist you in the administration of your promotion, and you agree that if you use our service to administer your promotion, you do so at your own risk.</p>
                    </li>


                  </ol>
                </li>
                <li><h3 class="sub-heaher">Page Content</h3>
                  <ol>
                    <li>Pages promoting the private sale of regulated goods or services (including firearms, alcohol, tobacco, or adult products) must restrict access to a minimum age of 18.</li>
                    <li>Pages that promote or facilitate online gambling, games of skill or lotteries, including online casino, sports books, bingo, or poker, are only allowed in specific countries with prior authorization from SportsConn.</li>
                    <li>Pages must not promote the sale of prescription pharmaceuticals. Pages for online pharmacies may be permitted with prior approval from SportsConn.</li>
                    <li>Pages must not contain false, misleading, fraudulent, or deceptive claims or content.</li>
                  </ol>
                </li>
            </ol>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer data-footer></footer>
<!--Modal Start-->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="form-panel-group">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
          	<button type="button" class="close" data-dismiss="modal">
			<svg class="svg-icons" width="16px" height="16px">
              <use xlink:href="assets/img/sprite.svg#closeIco"></use>
            </svg>
            </button>
            <h3 class="panel-title">LOGIN</h3>
            Don’t have an account? <a class="semibold" data-ng-click="formFlip=true">Sign Up</a> </div>
          <div class="panel-body">
            <form data-rel="form">
              <div class="input-group form-group"> <span class="input-group-addon">
                <svg class="svg-icons" width="18px" height="18px">
                  <use xlink:href="assets/img/sprite.svg#emailIco"></use>
                </svg>
                </span>
                <input type="text" placeholder="Email" class="form-control" on-focus>
                <span class="error-block">required field</span>
              </div>
              <div class="input-group form-group"> <span class="input-group-addon">
                <svg class="svg-icons" width="14px" height="19px">
                  <use xlink:href="assets/img/sprite.svg#lockIco"></use>
                </svg>
                </span>
                <input type="{{showpassword ? 'text' : 'password'}}" data-ng-model="loginPassword" placeholder="Password" class="form-control" on-focus>
                <span class="input-group-addon showhidePass">
                <input type="checkbox" id="showPassword" data-ng-model="showpassword" data-ng-checked="false">
                <label for="showPassword">
                  <svg class="svg-icons" width="20px" height="12px">
                    <use xlink:href="assets/img/sprite.svg#eyeIco"></use>
                  </svg>
                </label>
                </span> </div>
              <div class="form-group"> <span class="checkbox">
                <input type="checkbox" id="keepMeLogin">
                <label for="keepMeLogin">Keep me logged in</label>
                </span> </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block">LOGIN</button>
              </div>
              <div class="form-group text-center"><a class="btn-link" data-dismiss="modal" href="#forgotPassModal" data-toggle="modal">Forgotten your password?</a></div>
              <span class="or-divider">Or login with</span>
            </form>
          </div>
          <div class="panel-footer">
            <ul class="social-action">
              <li><a class="facebook">
                <svg class="svg-icons" width="8px" height="14px">
                  <use xlink:href="assets/img/sprite.svg#facebookIco"></use>
                </svg>
                </a></li>
              <li><a class="twitter">
                <svg class="svg-icons" width="14px" height="12px">
                  <use xlink:href="assets/img/sprite.svg#twitterIco"></use>
                </svg>
                </a></li>
              <li><a class="google">
                <svg class="svg-icons" width="17px" height="15px">
                  <use xlink:href="assets/img/sprite.svg#googleIco"></use>
                </svg>
                </a></li>
              <li><a class="linkedin">
                <svg class="svg-icons" width="14px" height="15px">
                  <use xlink:href="assets/img/sprite.svg#linkedIco"></use>
                </svg>
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="forgotPassModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
        <svg class="svg-icons" width="16px" height="16px">
          <use xlink:href="assets/img/sprite.svg#closeIco"></use>
        </svg>
        </button>
        <h3 class="modal-title">Forgotten Your Password</h3>
      </div>
      <div class="modal-body">
        <form data-rel="form">
          <div class="form-group form-group-lg">
            <div class="control-label">Email<span class="mandatory">*</span></div>
            <input type="text" class="form-control" placeholder="Enter email">
            <span class="error-block">Please Enter Your Eamil</span> </div>
          <div class="btn-group">
            <div class="btn-toolbar"><span class="link-text">Back to <a class="btn-link" data-dismiss="modal">Login</a></span></div>
            <div class="btn-toolbar btn-toolbar-right">
              <button class="btn btn-primary" data-dismiss="modal" data-target="#sentPassModal" data-toggle="modal">SUBMIT</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="sentPassModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header transparent">
        <button type="button" class="close" data-dismiss="modal">
        <svg class="svg-icons" width="16px" height="16px">
          <use xlink:href="assets/img/sprite.svg#closeIco"></use>
        </svg>
        </button>
      </div>
      <div class="modal-body success-message">
        <svg class="svg-icons" width="107px" height="98px">
          <use xlink:href="assets/img/sprite.svg#passSentIco"></use>
        </svg>
        <h2 class="page-header semibold">Your password has been reset</h2>
        <p class="semibold">Check your email for a reset password link.</p>
        Back to <a class="btn-link" data-dismiss="modal">Login</a> </div>
    </div>
  </div>
</div>
<!--Modal End--> 
<script src="assets/js/vendor/jquery-1.11.2.min.js"></script> 
<script src="assets/js/vendor/angular.min.js"></script> 
<script src="assets/js/vendor/match-media.js"></script> 
<script src="assets/js/vendor/bootstrap.min.js"></script> 
<script src="assets/js/vendor/jquery-ui.min.js"></script> 
<script src="assets/js/plugins.js"></script> 
<script src="assets/js/angular-wizard.min.js"></script> 
<script src="assets/js/app.js"></script> 
<script src="assets/js/controllers.js"></script> 
<script src="assets/js/main.js"></script>
</body>
</html>
