<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" data-ng-app="sportsConn">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>:: SportsConn ::</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="{{baseUrl}}">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="assets/css/main.css">
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body data-ng-controller="mainCtrl">
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header"> <a class="navbar-brand" href="home.html">
        <svg class="svg-icons">
          <use xlink:href="assets/img/sprite.svg#logoIco"></use>
        </svg>
        </a> </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-controls="navbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
      <div id="navbar1" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="about.html">ABOUT SPORTSCONN</a></li>
          <li><a>JOIN NOW</a></li>
          <li><a data-target="#loginModal" data-toggle="modal">LOGIN</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<nav class="navbar navbar-inverse navbar-static" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarStatic">PRIVACY POLICY</button>
    </div>
    <div id="navbarStatic" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="privacy-policy.html">PRIVACY POLICY</a></li>
        <li><a href="user-agreement.html">USER AGREEMENT</a></li>
        <li class="active"><a href="payment-terms.html">PAYMENT TERMS</a></li>
        <li><a href="pages-terms.html">PAGES TERMS</a></li>
        <li><a href="ad-guidelines.html">AD-GUIDELINES</a></li>
      </ul>
    </div>
  </div>
</nav>
<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-static">
          <div class="panel-body">
            <h3 class="page-header">SPORTSCONN PAYMENT TERMS</h3>           
            <p>Please take a few minutes to familiarize yourself with SportsConn’s Payment Terms. We note that these should be read in conjunction with our <strong>Privacy Policy</strong> and <strong>User Agreement</strong>.</p>            
            <h3 class="page-header">Making Purchases</h3>
            <p>Minors. If you are under the age of eighteen (18), you may use SportsConn Payments only with the involvement of your parent or guardian. Make sure you review these Terms with your parent or guardian so that you both understand all of your rights and responsibilities.</p>
            <p>Electronic communication. When you use the SportsConn Payments service to pay for things on SportsConn, you agree that we may communicate with you electronically any important information regarding your purchases or your account.</p>
            <p>Funding and spending. When you make a purchase using SportsConn Payments, you agree to provide a valid funding instrument to load money into your electronic value balance. When you have successfully completed this funding transaction, we will then transfer that value to the third party offering the product and/or services you wish to purchase.</p>
            <p>Pricing. Pay attention to the details of the transaction, because your total price may include taxes, fees, and shipping costs, all of which you are responsible for funding.</p>
            <p>Extra terms. You may be presented with additional terms related to a specific purchase before you confirm the transaction (such as shipping terms for tangible goods). Those additional terms will also govern that transaction.</p>
            <p>Sponsored posts. Posts you have Sponsored are subject to our<a class="btn-link link-icon"><span class="icon">
              <svg class="svg-icons" width="16px" height="8px">
                <use xlink:href="assets/img/sprite.svg#linkIco"></use>
              </svg>
              </span><span class="text">Advertising Guidelines</span></a>.</p>
            <p>Actual sale. You may only use SportsConn Payments to process a funding transaction for a legitimate, bona fide purchase of a product or service. Except as set forth below, you may not use SportsConn Payments to fund a transaction or otherwise transfer electronic value not in conjunction with a purchase.</p>
            <p>EU Right to Cancel. If you are in the EU, you consent to the performance of this contract for your purchase, and waive any Right to Cancel provided by the Consumer Rights Directive (2011/83/EU) or similar implementing regulations.</p>
            <p>No Warranties. You acknowledge that the products or services you may purchase are sold by merchants, not by SportsConn. WE MAKE NO WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, WITH RESPECT TO ANY PRODUCTS OR SERVICES SOLD ON OR THROUGH SPORTSCONN. </p>
            <h3 class="page-header">PAYMENT METHODS</h3>
            <p>Funding instruments. We want to make SportsConn Payments convenient, so we allow you to fund your transactions using a number of different sources, like credit cards and debit cards, and other payment methods.</p>
            <p>Authority. When you provide a funding instrument to us, you confirm that you are permitted to use that funding instrument. When you fund a transaction, you authorize us (and our designated payment processor) to charge the full amount to the funding instrument you designate for the transaction. You also authorize us to collect and store that funding instrument, along with other related transaction information.</p>
            <p>Authorization. If you pay by credit or debit card, we may obtain a pre-approval from the issuer of the card for an amount, which may be as high as the full price of your purchase. We will bill your card at the time you load funds for your SportsConn Payments transaction, or shortly thereafter. If you cancel a transaction before completion, this pre-approval may result in those funds not otherwise being immediately available to you.</p>
            <p>Failed funding. If you fund a payment by debit card and your load transaction results in an overdraft or other fee from your bank, you alone are responsible for that fee.</p>
            <h3 class="page-header">ACTIONS WE MAY TAKE</h3>
            <p>At-will use. We may revoke your eligibility to use SportsConn Payments at any time at our sole discretion.</p>
            <p>Inquiries. By using SportsConn Payments, you acknowledge and agree that we may make any inquiries that we consider necessary, either directly or through third parties, concerning your identity and creditworthiness.</p>
            <p>Our right to cancel. We may cancel any transaction if we believe the transaction violates these Terms or the SportsConn User Agreement, or if we believe doing so may prevent financial loss. We may also cancel any electronic value accumulated, transferred, assigned, or sold as a result of fraudulent or illegal behavior.</p>
            <p>Payment limitations. In order to prevent financial loss to you or to us, we may place a delay on a payment for a period of time, or limit funding instruments for a transaction, or limit your ability to make a purchase, or deactivate your account.</p>
            <p>Sharing of information. In order to prevent financial loss to you or to us, we may contact your funding instrument issuer, law enforcement, or affected third parties (including other users) and share details of any payments you are associated with, if we believe doing so may prevent financial loss or a violation of law.</p>
            <h3 class="page-header">DISPUTES AND REVERSALS</h3>
            <p>No liability for spend transaction. If you enter into a transaction with a third party and have a dispute over the goods or services you purchased, we have no liability for the goods or services underlying the transaction. Our only responsibility is to handle your funding transaction. All funding transactions are final unless required by law. If you order something that becomes unavailable before it can be provided to you, you may request a refund of your funded amount.</p>
            <p>Duty to notify us. If you believe that an unauthorized or otherwise problematic transaction has taken place under your account, you agree to notify us immediately, so that we may take action to prevent financial loss. Unless you submit the claim to us within 30 days after the charge, you will have waived, to the fullest extent permitted by law, all claims against us arising out of or otherwise related to the transaction.</p>
            <p>Intervention. We may intervene in disputes concerning payments that may arise between you and a supplier, but we have no obligation to do so.</p>
            <p>Technical difficulties. If you experience a technical failure or interruption of service that causes your funding transaction to fail, you may request that your transaction be completed at a later time.</p>
            <h3 class="page-header">SPECIAL PROVISIONS APPLICABLE TO ADVERTISERS</h3>
            <p>Agreement to pay. When you purchase advertising or promoted posts on or through SportsConn, you agree to pay all amounts specified in the order, along with any applicable taxes.</p>
            <p>Consent to credit check. Without limiting Section 3.2 above, your order constitutes your written authorization for us to obtain your personal and/or business credit report from a credit bureau. We may obtain your credit report when you place an order, or at any time thereafter.</p>
            <p>Security. You are responsible for maintaining the security of your advertising account, and you understand that you will be charged for any orders placed on or through your advertising account.</p>
            <p>Direct debit. If you are making direct debit payments, you agree that we can charge you any amount that falls within the range you agreed to upon signup. We will notify you in advance if any charge will exceed the agreed-upon range. If you want to change your preferred payment method from direct debit, you can do so from within your SportsConn Payment Settings.</p>
            <p>Cancellation. You can cancel an advertising order at any time through our online portal, but your ads may run for several days after you notify us, and you are still responsible for paying for those ads.</p>
            <p>Tax liability. The amounts charged to you by us, whether through your credit card or otherwise, may be subject to and include applicable taxes, including without limitation withholding taxes. It is your responsibility to remit any taxes that apply to your transactions. You agree to indemnify and hold us harmless from and against any claim arising out of your failure to do so.</p>
            <p>Delinquent accounts. If you purchase advertising, and your payment method fails or your account is past due, we may take steps to collect past due amounts using other collection mechanisms. You agree to pay all expenses associated with such collection, including reasonable attorneys' fees. Interest will accrue on any past due amounts at the rate of the lesser of 1% per month or the lawful maximum.</p>
            <p>Prepaid Account. You may have the option to purchase ads with a prepaid account. Amounts prepaid are non-refundable except where required by law. SportsConn is not a bank and does not offer banking services; accordingly, prepaid amounts do not earn interest, are not deposit obligations, and are not insured.</p>
            <h3 class="page-header">Notices and Amendments to These Terms</h3>
            <p>Notice to you. By using the SportsConn Payments service, you agree that we may communicate with you electronically any important information regarding your purchases or your account. We may also provide notices to you by posting them on our website, or by sending them to an email address or street address that you previously provided to us. Website and email notices shall be considered received by you within 24 hours of the time posted or sent; notices by postal mail shall be considered received within three (3) business days of the time sent.</p>
            <p>Notice to us. Except as otherwise stated, you must send notices to us relating to SportsConn Payments and these Terms by emailing us at <a href="mailto:contact@sportsconn.com">contact@sportsconn.com</a>, with the subject heading “NOTICE”.</p>
            <p>Amendment guidelines. We may update these Payments Terms at any time without notice as we deem necessary to the full extent permitted by law. The Payments Terms in place at the time you confirm a transaction will govern that transaction.</p>
            <h3 class="page-header">Customer Complaints</h3>
            <p>If you have concerns with respect to the money transmission activities conducted via this website, you may contact SportsConn by emailing us at <a href="mailto:contact@sportsconn.com">contact@sportsconn.com</a></p>
            <h3 class="page-header">Conflict</h3>
            <p>Conflict of terms. All of the commitments you make in the SportsConn User Agreement apply to your use of SportsConn Payments. In the event of any conflict between these Terms and the SportsConn User Agreement, the Payments Terms shall prevail.</p>
            <p>Conflict of laws. Some countries may restrict or prohibit your ability to make payments through SportsConn. Nothing in these Terms should be read to override or circumvent any such foreign laws.</p>                  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer data-footer></footer>
<!--Modal Start-->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="form-panel-group">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
          	<button type="button" class="close" data-dismiss="modal">
			<svg class="svg-icons" width="16px" height="16px">
              <use xlink:href="assets/img/sprite.svg#closeIco"></use>
            </svg>
            </button>
            <h3 class="panel-title">LOGIN</h3>
            Don’t have an account? <a class="semibold" data-ng-click="formFlip=true">Sign Up</a> </div>
          <div class="panel-body">
            <form data-rel="form">
              <div class="input-group form-group"> <span class="input-group-addon">
                <svg class="svg-icons" width="18px" height="18px">
                  <use xlink:href="assets/img/sprite.svg#emailIco"></use>
                </svg>
                </span>
                <input type="text" placeholder="Email" class="form-control" on-focus>
                <span class="error-block">required field</span>
              </div>
              <div class="input-group form-group"> <span class="input-group-addon">
                <svg class="svg-icons" width="14px" height="19px">
                  <use xlink:href="assets/img/sprite.svg#lockIco"></use>
                </svg>
                </span>
                <input type="{{showpassword ? 'text' : 'password'}}" data-ng-model="loginPassword" placeholder="Password" class="form-control" on-focus>
                <span class="input-group-addon showhidePass">
                <input type="checkbox" id="showPassword" data-ng-model="showpassword" data-ng-checked="false">
                <label for="showPassword">
                  <svg class="svg-icons" width="20px" height="12px">
                    <use xlink:href="assets/img/sprite.svg#eyeIco"></use>
                  </svg>
                </label>
                </span> </div>
              <div class="form-group"> <span class="checkbox">
                <input type="checkbox" id="keepMeLogin">
                <label for="keepMeLogin">Keep me logged in</label>
                </span> </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block">LOGIN</button>
              </div>
              <div class="form-group text-center"><a class="btn-link" data-dismiss="modal" href="#forgotPassModal" data-toggle="modal">Forgotten your password?</a></div>
              <span class="or-divider">Or login with</span>
            </form>
          </div>
          <div class="panel-footer">
            <ul class="social-action">
              <li><a class="facebook">
                <svg class="svg-icons" width="8px" height="14px">
                  <use xlink:href="assets/img/sprite.svg#facebookIco"></use>
                </svg>
                </a></li>
              <li><a class="twitter">
                <svg class="svg-icons" width="14px" height="12px">
                  <use xlink:href="assets/img/sprite.svg#twitterIco"></use>
                </svg>
                </a></li>
              <li><a class="google">
                <svg class="svg-icons" width="17px" height="15px">
                  <use xlink:href="assets/img/sprite.svg#googleIco"></use>
                </svg>
                </a></li>
              <li><a class="linkedin">
                <svg class="svg-icons" width="14px" height="15px">
                  <use xlink:href="assets/img/sprite.svg#linkedIco"></use>
                </svg>
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="forgotPassModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
        <svg class="svg-icons" width="16px" height="16px">
          <use xlink:href="assets/img/sprite.svg#closeIco"></use>
        </svg>
        </button>
        <h3 class="modal-title">Forgotten Your Password</h3>
      </div>
      <div class="modal-body">
        <form data-rel="form">
          <div class="form-group form-group-lg">
            <div class="control-label">Email<span class="mandatory">*</span></div>
            <input type="text" class="form-control" placeholder="Enter email">
            <span class="error-block">Please Enter Your Eamil</span> </div>
          <div class="btn-group">
            <div class="btn-toolbar"><span class="link-text">Back to <a class="btn-link" data-dismiss="modal">Login</a></span></div>
            <div class="btn-toolbar btn-toolbar-right">
              <button class="btn btn-primary" data-dismiss="modal" data-target="#sentPassModal" data-toggle="modal">SUBMIT</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="sentPassModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header transparent">
        <button type="button" class="close" data-dismiss="modal">
        <svg class="svg-icons" width="16px" height="16px">
          <use xlink:href="assets/img/sprite.svg#closeIco"></use>
        </svg>
        </button>
      </div>
      <div class="modal-body success-message">
        <svg class="svg-icons" width="107px" height="98px">
          <use xlink:href="assets/img/sprite.svg#passSentIco"></use>
        </svg>
        <h2 class="page-header semibold">Your password has been reset</h2>
        <p class="semibold">Check your email for a reset password link.</p>
        Back to <a class="btn-link" data-dismiss="modal">Login</a> </div>
    </div>
  </div>
</div>
<!--Modal End--> 
<script src="assets/js/vendor/jquery-1.11.2.min.js"></script> 
<script src="assets/js/vendor/angular.min.js"></script> 
<script src="assets/js/vendor/match-media.js"></script> 
<script src="assets/js/vendor/bootstrap.min.js"></script> 
<script src="assets/js/vendor/jquery-ui.min.js"></script> 
<script src="assets/js/plugins.js"></script> 
<script src="assets/js/angular-wizard.min.js"></script> 
<script src="assets/js/app.js"></script> 
<script src="assets/js/controllers.js"></script> 
<script src="assets/js/main.js"></script>
</body>
</html>
