<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" data-ng-app="sportsConn">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>:: SportsConn ::</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="{{baseUrl}}">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="assets/css/main.css">
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body data-ng-controller="mainCtrl">
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div data-header-after-login></div>
<div class="cover-container">
  <div class="cover-image">
    <div class="draggable" style="display:none;"><img src="assets/img/cover-img.jpg" width="1600" height="336" alt=""/></div>
    <div class="cover-fill" id="coverViewimg"><img src="assets/img/cover-img.jpg" width="1600" height="336" alt=""/></div>
  </div>
  <div class="profile-details">
    <div class="container">
      <figure class="profile-pic">
        <a><img src="assets/img/profile-img.jpg" width="170" height="170" class="img-thumbnail" alt=""/></a> </figure>
      <div class="details">
        <div class="editable-panel">
          <div class="editable-item edit-lg">
            <h2 class="title semibold">
              <button class="btn edit-btn">
              <svg class="svg-icons" width="14px" height="14px">
                <use xlink:href="assets/img/sprite.svg#editIco"></use>
              </svg>
              </button>
              <span class="edit-highlight">Ronaldinho</span> </h2>
          </div>
        </div>
        <div class="editable-panel">
          <div class="editable-item">
            <h3 class="sub-title">
              <button class="btn edit-btn">
              <svg class="svg-icons" width="10px" height="10px">
                <use xlink:href="assets/img/sprite.svg#editIco"></use>
              </svg>
              </button>
              <span class="edit-highlight">@ronaldinho</span> </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="more-details">
  <div class="container">
    <div class="row details">
      <aside class="col-sm-6">
      	<div class="editable-panel">
          <div class="editable-item">
            <button class="btn edit-btn">
            <svg class="svg-icons" width="10px" height="10px">
              <use xlink:href="assets/img/sprite.svg#editIco"></use>
            </svg>
            </button>
            <div class="edit-highlight">
              <ul class="list-group-inline">
                <li> <span class="bullet">
                  <svg class="svg-icons" width="16px" height="17px">
                    <use xlink:href="assets/img/sprite.svg#directorIco"></use>
                  </svg>
                  </span> <span class="text">Managing Director at Heinz Club</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="editable-panel">
          <div class="editable-item">
            <button class="btn edit-btn">
            <svg class="svg-icons" width="10px" height="10px">
              <use xlink:href="assets/img/sprite.svg#editIco"></use>
            </svg>
            </button>
            <div class="edit-highlight">
              <ul class="list-group-inline">
                <li> <span class="bullet">
                  <svg class="svg-icons" width="8px" height="16px">
                    <use xlink:href="assets/img/sprite.svg#profIco"></use>
                  </svg>
                  </span> <span class="text">Fan</span></li>
                <li> <span class="bullet">
                  <svg class="svg-icons" width="8px" height="14px">
                    <use xlink:href="assets/img/sprite.svg#pathIco"></use>
                  </svg>
                  </span> <span class="text">LA, California, USA</span></li>
              </ul>
            </div>
          </div>
        </div>
      </aside>
      <aside class="col-sm-6">
        <ul class="list-group-inline breack-list">
          <li>120<small class="block">Followers</small></li>
          <li>140<small class="block">Following</small></li>
          <li>224<small class="block">Connections</small></li>
        </ul>
      </aside>
    </div>
  </div>
</div>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSecond">ABOUT</button>
    </div>
    <div id="navbarSecond" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a>ABOUT</a></li>
        <li class="active"><a>ACTIVITY</a></li>
        <li><a>PAGES</a></li>
        <li><a>MEDIA</a></li>
      </ul>
    </div>
  </div>
</nav>
<section class="content-section">
  <div class="container">
    <div class="row">
      <aside class="col-sm-4 col-sm-push-8">
      	<div class="panel panel-post">
        	<div class="panel-header">
            <h4 class="panel-title">PEOPLE YOU MAY KNOW</h4>
          </div>
          <ul class="list-group user-list">
             <li class="media">
                <figure class="media-left"><img src="assets/img/thumb70x70.jpg" width="60" height="60" class="img-rounded" alt=""/></figure>
                <div class="media-body">
                   <h4 class="media-heading"><a class="btn-link">Amber Chin</a></h4>
                   <p>American Soccer - GoalKeeper at Eagle Club</p>
                   <a class="btn btn-info btn-xs">CONNECT</a>
                </div>
                <div class="media-right">
                   <a class="close">
                      <svg class="svg-icons" width="10px" height="10px">
                         <use xlink:href="assets/img/sprite.svg#closeIco"></use>
                      </svg>
                   </a>
                </div>
             </li>
             <li class="media">
                <figure class="media-left"><img src="assets/img/thumb70x70.jpg" width="60" height="60" class="img-rounded" alt=""/></figure>
                <div class="media-body">
                   <h4 class="media-heading"><a class="btn-link">Amber Chin</a></h4>
                   <p>American Soccer - GoalKeeper at Eagle Club</p>
                   <a class="btn btn-info btn-xs">CONNECT</a>
                </div>
                <div class="media-right">
                   <a class="close">
                      <svg class="svg-icons" width="10px" height="10px">
                         <use xlink:href="assets/img/sprite.svg#closeIco"></use>
                      </svg>
                   </a>
                </div>
             </li>
             <li class="media">
                <figure class="media-left"><img src="assets/img/thumb70x70.jpg" width="60" height="60" class="img-rounded" alt=""/></figure>
                <div class="media-body">
                   <h4 class="media-heading"><a class="btn-link">Amber Chin</a></h4>
                   <p>American Soccer - GoalKeeper at Eagle Club</p>
                   <a class="btn btn-info btn-xs">CONNECT</a>
                </div>
                <div class="media-right">
                   <a class="close">
                      <svg class="svg-icons" width="10px" height="10px">
                         <use xlink:href="assets/img/sprite.svg#closeIco"></use>
                      </svg>
                   </a>
                </div>
             </li>
             <li class="media">
                <figure class="media-left"><img src="assets/img/thumb70x70.jpg" width="60" height="60" class="img-rounded" alt=""/></figure>
                <div class="media-body">
                   <h4 class="media-heading"><a class="btn-link">Amber Chin</a></h4>
                   <p>American Soccer - GoalKeeper at Eagle Club</p>
                   <a class="btn btn-info btn-xs">CONNECT</a>
                </div>
                <div class="media-right">
                   <a class="close">
                      <svg class="svg-icons" width="10px" height="10px">
                         <use xlink:href="assets/img/sprite.svg#closeIco"></use>
                      </svg>
                   </a>
                </div>
             </li>
             <li class="media">
                <figure class="media-left"><img src="assets/img/thumb70x70.jpg" width="60" height="60" class="img-rounded" alt=""/></figure>
                <div class="media-body">
                   <h4 class="media-heading"><a class="btn-link">Amber Chin</a></h4>
                   <p>American Soccer - GoalKeeper at Eagle Club</p>
                   <a class="btn btn-info btn-xs">CONNECT</a>
                </div>
                <div class="media-right">
                   <a class="close">
                      <svg class="svg-icons" width="10px" height="10px">
                         <use xlink:href="assets/img/sprite.svg#closeIco"></use>
                      </svg>
                   </a>
                </div>
             </li>
          </ul>            
          <div class="panel-footer text-center">
          	<a class="btn-link">VIEW MORE</a>
          </div>
        </div>
      </aside>
      <div class="col-sm-8 col-sm-pull-4">
      	<div class="panel wall-post">
        	<textarea class="form-control" rows="2" placeholder="What’s on your mind" data-type="wall-post"></textarea>
            <div class="attached-panel ng-hide">
            	<div class="attached-thumbs scrollbox-horizontal">
                <div class="">
                  <figure></figure>
                  <figure></figure>
                  <figure></figure>
                  <figure></figure>
                  <figure></figure>
                  <figure></figure>
                  <figure></figure>
                  <figure></figure>
                </div>
              </div>
              <div class="caption"><input type="text" class="form-control" placeholder="Say something about these pictures"></div>
            </div>
            <div class="post-btn-group">
            	<div class="pull-left">
                   <div class="btn-circle">
                      <div class="fileupload">
                        <label for="addImg"></label>
                        <span class="upload-btn">
                        <svg class="svg-icons" width="18px" height="14px">
                          <use xlink:href="assets/img/sprite.svg#cameraIco"></use>
                        </svg></span>
                        <input type="file" id="addImg">
                     </div>
                   </div>
                </div>
                <div class="pull-right">
                  <div class="dropup">
                    <button class="btn btn-info btn-sm" type="button" id="postDropDown" data-toggle="dropdown"><span class="icon">
                    <svg class="svg-icons" width="18px" height="16px">
                      <use xlink:href="assets/img/sprite.svg#friendsIco"></use>
                    </svg>
                    </span> <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="postDropDown" data-getvalue="dropdown">
                      <li><a><span class="icon">
                        <svg class="svg-icons" width="14px" height="14px">
                          <use xlink:href="assets/img/sprite.svg#globeIco"></use>
                        </svg>
                        </span> <span class="text">Everyone</span></a></li>
                      <li><a><span class="icon">
                        <svg class="svg-icons" width="18px" height="16px">
                          <use xlink:href="assets/img/sprite.svg#friendsIco"></use>
                        </svg>
                        </span> <span class="text">Friends</span></a></li>
                      <li><a><span class="icon">
                        <svg class="svg-icons" width="14px" height="14px">
                          <use xlink:href="assets/img/sprite.svg#userIco"></use>
                        </svg>
                        </span> <span class="text">Only Me</span></a></li>
                    </ul>
                  </div>
                  <button class="btn btn-primary btn-sm">POST</button>
                </div>
              </div>
        </div>
        <div class="post-search-ctrl clearfix" data-addclass>
          <a class="search" ng-toggle-class="open">
          	<svg class="svg-icons" width="14px" height="14px">
                <use xlink:href="assets/img/sprite.svg#searchIco"></use>
            </svg>
          </a>
          <div class="post-search form-group">
            <div class="input-group">
              <input type="text" ng-model="searchPost" placeholder="Search" class="form-control input-sm" data-on-focus>
              <a class="input-group-addon" ng-click="searchPost = null" ng-toggle-class="open">
				  <svg class="svg-icons" width="10px" height="10px">
                    <use xlink:href="assets/img/sprite.svg#closeIco"></use>
                  </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-body nodata-panel">
            <div class="nodata-text"> <span class="nodat-icon"><img src="assets/img/activity-empty.png" width="220" height="118" alt=""/></span>
              <p>There are no feeds to show. <br><a class="btn-link">Grow your network</a> here.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer data-footer></footer> 
<!--Modal Start-->

<!--Modal End--> 
<script src="assets/js/vendor/jquery-1.11.2.min.js"></script> 
<script src="assets/js/vendor/angular.min.js"></script> 
<script src="assets/js/vendor/match-media.js"></script> 
<script src="assets/js/vendor/bootstrap.min.js"></script> 
<script src="assets/js/plugins.js"></script> 
<script src="assets/js/angular-wizard.min.js"></script> 
<script src="assets/js/angular-wizard.min.js"></script> 
<script src="assets/js/app.js"></script> 
<script src="assets/js/controllers.js"></script> 
<script src="assets/js/main.js"></script> 
<script>
$(function() {
	
});
</script>
</body>
</html>
