<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>:: SportsConn ::</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="assets/css/main.css">
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body data-ng-app="sportsConn" data-ng-controller="mainCtrl">
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div header-after-login></div>
<nav class="navbar navbar-inverse navbar-static" role="navigation">
  <div class="container">
      <aside class="filters ">
            <div class="dropdown">
                <button class="btn btn-info btn-sm" type="button" data-toggle="dropdown">
                  <span class="icon">
                    <svg width="15px" height="13px" class="svg-icons">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#filterIco"></use>
                    </svg>
                  </span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right dropdown-menu-filters">
                    <li>
                      <span class="dropdown-heading">FILTER BY</span> 
                    </li>
                    <li><a>Lastest</a></li>
                    <li><a>Most Popular</a></li>
                </ul>
            </div>
        </aside>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarStatic">PEOPLE</button>
      </div>
      <div id="navbarStatic" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="search-people.html">PEOPLE</a></li>
          <li><a href="search-organization.html">ORGANIZATION</a></li>
          <li class="active"><a href="search-pages.html">PAGES</a></li>
          <li><a href="search-media.html">MEDIA</a></li>
        </ul>
      </div>
  </div>
</nav>
<section class="content-section">
   <div class="container">
      <div class="row">
      <div class="col-sm-6">
        <h3 class="page-header semibold">MEDIA YOU MAY WANT TO FOLLOW</h3>
      </div>
      <div class="col-sm-6">
          <div class="post-search-ctrl clearfix" data-addclass>
               <a class="search" ng-toggle-class="open">
                  <svg class="svg-icons" width="14px" height="14px">
                     <use xlink:href="assets/img/sprite.svg#searchIco"></use>
                  </svg>
               </a>
               <div class="post-search form-group">
                <div class="input-group">
                  <input type="text" ng-model="searchPost" placeholder="Search" class="form-control input-sm" data-on-focus>
                  <a class="input-group-addon" ng-click="searchPost = null" ng-toggle-class="open">
                      <svg class="svg-icons" width="10px" height="10px">
                        <use xlink:href="assets/img/sprite.svg#closeIco"></use>
                      </svg>
                  </a>
                </div>
              </div>
            </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail thumbnail-default">
            <figure class="img-panel"> <img src="assets/img/thumb232x140.jpg" width="232" height="140" alt="" class="img-full"></figure>
            <div class="caption caption-default">
              <figure class="img-thumbnail"><img src="assets/img/thumb70x70.jpg" width="30" height="30" alt=""></figure>
              <div class="content"> 
              <h3 class="thumb-title">Bodybuilding</h3>
              <span class="gray-text">1,685,87 Followers</span>
              </div>
            </div>
            <div class="footer">
              <ul class="list-group-inline list-group-justify">
                 <li> <a class="btn btn-sm btn-link btn-block">FOLLOW</a></li>
              </ul>
            </div>            
          </div>
        </div>
      </div>
      <div class="load-more"> <span class="gray-text semibold">Loading</span><i class="loading"></i> </div>
   </div>
</section>
<!-- #BeginLibraryItem "/Library/footer.lbi" -->
<footer>
  <div class="container">
    <ul class="nav nav-default">
      <li><a>About</a></li>
      <li><a>Privacy Policy</a></li>
      <li><a>Terms &amp; Conditions</a></li>
      <li><a>Contact</a></li>
    </ul>
    <span class="copyright">&copy; SportsConn 2016</span></div>
</footer>
<!-- #EndLibraryItem --> 
<!--Modal Start-->
<div id="removeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
        <svg class="svg-icons" width="16px" height="16px">
          <use xlink:href="assets/img/sprite.svg#closeIco"></use>
        </svg>
        </button>
        <h3 class="modal-title">Tell us about yourself</h3>
      </div>
      <div class="modal-body">
        <h3 class="lead">Are you sure you want to remove all the connections ?</h3>
        <div class="btn-group">
          <div class="btn-toolbar btn-toolbar-right">
            <button class="btn btn-primary">REMOVE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal End--> 
<script src="assets/js/vendor/jquery-1.11.2.min.js"></script> 
<script src="assets/js/vendor/angular.min.js"></script> 
<script src="assets/js/vendor/match-media.js"></script> 
<script src="assets/js/vendor/bootstrap.min.js"></script> 
<script src="assets/js/plugins.js"></script> 
<script src="assets/js/angular-wizard.min.js"></script> 
<script src="assets/js/angular-wizard.min.js"></script> 
<script src="assets/js/app.js"></script> 
<script src="assets/js/controllers.js"></script> 
<script src="assets/js/main.js"></script> 
<script>
$(function() {
	
});
</script>
</body>
</html>
