<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header"> <a class="navbar-brand" href="home.html">
        <svg class="svg-icons">
          <use xlink:href="assets/img/sprite.svg#logoIco"></use>
        </svg>
        </a> </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
      <ul class="nav navbar-nav navbar-custom">
        <li><a>
          <svg class="svg-icons" width="26px" height="16px">
            <use xlink:href="assets/img/sprite.svg#networkIco"></use>
          </svg>
          </a></li>
        <li class="dropdown" data-dropdown="onhold"> <a data-toggle="dropdown">
          <svg class="svg-icons" width="18px" height="18px">
            <use xlink:href="assets/img/sprite.svg#emailIco"></use>
          </svg>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-lg" role="menu">
            <div class="dropdown-header text-center">
              <svg class="svg-icons" width="18px" height="18px">
                <use xlink:href="assets/img/sprite.svg#emailIco"></use>
              </svg>
              MESSAGES</div>
            <div class="dropdown-body scrollbox dropdown-scroll">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="54" height="54" class="img-circle" alt=""/></a></div>
                  <div class="media-body media-middle"> <span class="block"><a class="btn-link">Jason Williams</a> Following you</span> <span class="datetime">3 hrs ago</span> </div>
                </li>
                <li class="media">
                  <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="54" height="54" class="img-circle" alt=""/></a></div>
                  <div class="media-body media-middle"> <span class="block"><a class="btn-link">Lisa Ray</a> left published a new post <a class="btn-link">“Sports Nation”</a></span> <span class="datetime">6 hrs ago</span> </div>
                </li>
                <li class="media">
                  <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="54" height="54" class="img-circle" alt=""/></a></div>
                  <div class="media-body media-middle"> <span class="block"><a class="btn-link">Jason Williams</a> Following you</span> <span class="datetime">3 hrs ago</span> </div>
                </li>
                <li class="media">
                  <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="54" height="54" class="img-circle" alt=""/></a></div>
                  <div class="media-body media-middle"> <span class="block"><a class="btn-link">Lisa Ray</a> left published a new post <a class="btn-link">“Sports Nation”</a></span> <span class="datetime">6 hrs ago</span> </div>
                </li>
                <li class="media">
                  <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="54" height="54" class="img-circle" alt=""/></a></div>
                  <div class="media-body media-middle"> <span class="block"><a class="btn-link">Jason Williams</a> Following you</span> <span class="datetime">3 hrs ago</span> </div>
                </li>
                <li class="media">
                  <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="54" height="54" class="img-circle" alt=""/></a></div>
                  <div class="media-body media-middle"> <span class="block"><a class="btn-link">Lisa Ray</a> left published a new post <a class="btn-link">“Sports Nation”</a></span> <span class="datetime">6 hrs ago</span> </div>
                </li>
                <li class="media">
                  <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="54" height="54" class="img-circle" alt=""/></a></div>
                  <div class="media-body media-middle"> <span class="block"><a class="btn-link">Jason Williams</a> Following you</span> <span class="datetime">3 hrs ago</span> </div>
                </li>
                <li class="media">
                  <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="54" height="54" class="img-circle" alt=""/></a></div>
                  <div class="media-body media-middle"> <span class="block"><a class="btn-link">Lisa Ray</a> left published a new post <a class="btn-link">“Sports Nation”</a></span> <span class="datetime">6 hrs ago</span> </div>
                </li>
              </ul>
            </div>
            <div class="dropdown-footer text-center"><a class="btn-link" href="message.html">VIEW ALL</a></div>
          </div>
        </li>
        <li class="dropdown" data-dropdown="onhold"> <a data-toggle="dropdown">
          <svg class="svg-icons" width="18px" height="18px">
            <use xlink:href="assets/img/sprite.svg#bellIco"></use>
          </svg>
          <span class="badge">10</span></a>
          <div class="dropdown-menu dropdown-menu-right dropdown-lg" role="menu">
            <div class="dropdown-header text-center">
              <svg class="svg-icons" width="18px" height="18px">
                <use xlink:href="assets/img/sprite.svg#bellIco"></use>
              </svg>
              NOTIFICATIONS</div>
            <div class="dropdown-body scrollbox dropdown-scroll">
              <ul class="media-list media-hover">
                <li class="media">
                  <div class="media-left"><a><img src="assets/img/sc-default-230x230.jpg" width="54" height="54" class="img-circle" alt=""/></a></div>
                  <div class="media-body media-middle"> 
                  <div class="media-item-info">  
                    <span class="block"><a class="btn-link">Jason Williams</a> Following you</span> <span class="datetime">3 hrs ago</span> 
                  </div>
                  <div class="media-item-action">
                    <div class="media-item-content">
                        <button class="btn btn-default btn-sm btn-circle">
                          <span class="icon"><svg class="svg-icons" width="10px" height="10px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#closeIco"></use>
                          </svg></span>
                        </button>
                         <button class="btn btn-default btn-sm btn-circle">
                          <span class="icon"><svg class="svg-icons" width="12px" height="12px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#successIco"></use>
                          </svg></span>
                        </button>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="54" height="54" class="img-circle" alt=""/></a></div>
                  <div class="media-body media-middle">
                  <div class="media-item-info">   
                    <span class="block"><a class="btn-link">Lisa Ray</a> left published a new post <a class="btn-link">“Sports Nation”</a></span> <span class="datetime">6 hrs ago</span> 
                  </div>
                  <div class="media-item-action">
                    <div class="media-item-content">
                        <button class="btn btn-default btn-sm btn-circle">
                          <span class="icon"><svg class="svg-icons" width="10px" height="10px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#closeIco"></use>
                          </svg></span>
                        </button>
                         <button class="btn btn-default btn-sm btn-circle">
                          <span class="icon"><svg class="svg-icons" width="12px" height="12px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#successIco"></use>
                          </svg></span>
                        </button>
                    </div>
                  </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="54" height="54" class="img-circle" alt=""/></a></div>
                  <div class="media-body media-middle"> 
                  <div class="media-item-info">  
                    <span class="block"><a class="btn-link">Jason Williams</a> Following you</span> <span class="datetime">3 hrs ago</span> 
                  </div>
                  <div class="media-item-action">
                    <div class="media-item-content">
                        <button class="btn btn-default btn-sm btn-circle">
                          <span class="icon"><svg class="svg-icons" width="10px" height="10px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#closeIco"></use>
                          </svg></span>
                        </button>
                         <button class="btn btn-default btn-sm btn-circle">
                          <span class="icon"><svg class="svg-icons" width="12px" height="12px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#successIco"></use>
                          </svg></span>
                        </button>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="54" height="54" class="img-circle" alt=""/></a></div>
                  <div class="media-body media-middle">
                  <div class="media-item-info">   
                    <span class="block"><a class="btn-link">Lisa Ray</a> left published a new post <a class="btn-link">“Sports Nation”</a></span> <span class="datetime">6 hrs ago</span> 
                  </div>
                  <div class="media-item-action">
                    <div class="media-item-content">
                        <button class="btn btn-default btn-sm btn-circle">
                          <span class="icon"><svg class="svg-icons" width="10px" height="10px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#closeIco"></use>
                          </svg></span>
                        </button>
                         <button class="btn btn-default btn-sm btn-circle">
                          <span class="icon"><svg class="svg-icons" width="12px" height="12px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#successIco"></use>
                          </svg></span>
                        </button>
                    </div>
                  </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="54" height="54" class="img-circle" alt=""/></a></div>
                  <div class="media-body media-middle"> 
                  <div class="media-item-info">  
                    <span class="block"><a class="btn-link">Jason Williams</a> Following you</span> <span class="datetime">3 hrs ago</span> 
                  </div>
                  <div class="media-item-action">
                    <div class="media-item-content">
                        <button class="btn btn-default btn-sm btn-circle">
                          <span class="icon"><svg class="svg-icons" width="10px" height="10px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#closeIco"></use>
                          </svg></span>
                        </button>
                         <button class="btn btn-default btn-sm btn-circle">
                          <span class="icon"><svg class="svg-icons" width="12px" height="12px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#successIco"></use>
                          </svg></span>
                        </button>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="54" height="54" class="img-circle" alt=""/></a></div>
                  <div class="media-body media-middle">
                  <div class="media-item-info">   
                    <span class="block"><a class="btn-link">Lisa Ray</a> left published a new post <a class="btn-link">“Sports Nation”</a></span> <span class="datetime">6 hrs ago</span> 
                  </div>
                  <div class="media-item-action">
                    <div class="media-item-content">
                        <button class="btn btn-default btn-sm btn-circle">
                          <span class="icon"><svg class="svg-icons" width="10px" height="10px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#closeIco"></use>
                          </svg></span>
                        </button>
                         <button class="btn btn-default btn-sm btn-circle">
                          <span class="icon"><svg class="svg-icons" width="12px" height="12px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#successIco"></use>
                          </svg></span>
                        </button>
                    </div>
                  </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="54" height="54" class="img-circle" alt=""/></a></div>
                  <div class="media-body media-middle">
                  <div class="media-item-info">   
                    <span class="block"><a class="btn-link">Lisa Ray</a> left published a new post <a class="btn-link">“Sports Nation”</a></span> <span class="datetime">6 hrs ago</span> 
                  </div>
                  <div class="media-item-action">
                    <div class="media-item-content">
                        <button class="btn btn-default btn-sm btn-circle">
                          <span class="icon"><svg class="svg-icons" width="10px" height="10px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#closeIco"></use>
                          </svg></span>
                        </button>
                         <button class="btn btn-default btn-sm btn-circle">
                          <span class="icon"><svg class="svg-icons" width="12px" height="12px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#successIco"></use>
                          </svg></span>
                        </button>
                    </div>
                  </div>
                  </div>
                </li>

              </ul>
            </div>
            <div class="dropdown-footer text-center"><a class="btn-link" href="notifications.html">VIEW ALL</a></div>
          </div>
        </li>
      </ul>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="polls.html">POLLS</a></li>
          <li><a href="profile-news-feed.html">NEWSFEED</a></li>
          <li><a href="playoftheday.html"><span class="hidden-sm">PLAY OF THE  DAY</span><span class="visible-sm">POTD</span></a></li>
          <li class="search-form">
            <form class="navbar-form" role="form">
              <div class="input-group" data-dropdown="onhold">
                <input type="text" placeholder="Search" class="form-control input-sm">
                <span class="input-group-addon">
                <svg class="svg-icons" width="14px" height="14px">
                  <use xlink:href="assets/img/sprite.svg#searchIco"></use>
                </svg>
                </span> 
              </div>              
            </form>
          </li>
          <li class="dropdown user" data-dropdown="onhold"> 
                <a class="visible-xs nav-arrow" data-toggle="dropdown"><svg class="svg-icons" width="7px" height="12px">
                  <use xlink:href="assets/img/sprite.svg#arrowLeftIco"></use>
                </svg></a>

                <a class="hidden-xs" data-toggle="dropdown"><img src="assets/img/user-thumb.jpg" width="34" height="34" alt=""/></a>

                <a href="http://www.google.com" class="user-name visible-xs"><img src="assets/img/user-thumb.jpg" width="34" height="34" alt=""/> JASON THOMAS</a>   

            <ul class="dropdown-menu" role="menu">
              <li class="hidden-xs"><a><span class="icon">
                <svg class="svg-icons" width="14px" height="14px">
                  <use xlink:href="assets/img/sprite.svg#userIco"></use>
                </svg>
                </span> <span class="text">Jason Thomas</span></a></li>
              <li><a><span class="icon">
                <svg class="svg-icons" width="16px" height="15px">
                  <use xlink:href="assets/img/sprite.svg#createOrgIco"></use>
                </svg>
                </span> <span class="text">Create Organizations</span></a></li>
              <li class="dropdown"><a data-toggle="dropdown"><span class="icon">
                <svg class="svg-icons" width="14px" height="14px">
                  <use xlink:href="assets/img/sprite.svg#globeIco"></use>
                </svg>
                </span> <span class="text">My Organizations</span> <i class="caret"></i></a>
                <ul class="dropdown-menu scrollbox navbar-max-height" role="menu">
                  <li><a>Boston Club</a></li>
                  <li><a>NewYork Club</a></li>
                  <li><a>Boston Club</a></li>
                  <li><a>NewYork Club</a></li>
                  <li><a>Boston Club</a></li>
                  <li><a>NewYork Club</a></li>
                  <li><a>Boston Club</a></li>
                  <li><a>NewYork Club</a></li>
                  <li><a>Boston Club</a></li>
                  <li><a>NewYork Club</a></li>
                  <li><a>Boston Club</a></li>
                  <li><a>NewYork Club</a></li>
                </ul>
              </li>
              <li><a><span class="icon">
                <svg class="svg-icons" width="15px" height="16px">
                  <use xlink:href="assets/img/sprite.svg#inviteFriendsIco"></use>
                </svg>
                </span> <span class="text">Invite Friend</span></a></li>
              <li><a href="account-settings.html"><span class="icon">
                <svg class="svg-icons" width="14px" height="14px">
                  <use xlink:href="assets/img/sprite.svg#settingsIco"></use>
                </svg>
                </span> <span class="text">Account Settings</span></a></li>
              <li><a href="home.html"><span class="icon">
                <svg class="svg-icons" width="14px" height="14px">
                  <use xlink:href="assets/img/sprite.svg#logoutIco"></use>
                </svg>
                </span> <span class="text">Logout</span></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="dropdown-menu dropdown-menu-search" role="menu">
      <div class="scrollbox search-scroll">
      <div class="container-fluid"><div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="dropdown-header">
            <span class="text">PEOPLE</span>
          </div>
          <div class="dropdown-body">
            <ul class="media-list">
              <li class="media">
                <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="40" height="40" alt="" class="img-rounded" /></a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tommy Williams</a></h4>
                  <span>American Soccer - GoalKeeper at Eagle Club</span>                       
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="40" height="40" alt="" class="img-rounded"/></a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tori Black</a></h4>
                  <span>Rugby - Pitcher at Boston International</span>                       
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="40" height="40" alt="" class="img-rounded"/></a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tommy Dickinson</a></h4>
                  <span>American Soccer - Coach at The Kingsman</span>                       
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="40" height="40" alt="" class="img-rounded"/></a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tom Flatcher</a></h4>
                  <span>American Soccer - GoalKeeper at Eagle Club</span>                       
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a><img src="assets/img/thumb70x70.jpg" width="40" height="40" alt="" class="img-rounded"/></a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Timmy Goodwin</a></h4>
                  <span>Tennis - Boston Celtic</span>                       
                </div>
              </li>
            </ul>
          </div>
          <div class="dropdown-footer">
            <a>See All <i class="caret rotate-flip-horizontal"></i></a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="dropdown-header">
            <span class="text">ORGANIZATION</span>
          </div>
          <div class="dropdown-body">
            <ul class="media-list color-list">
              <li class="media">
                <div class="media-left"><a class="color-indicate">TT</a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tommy Williams</a></h4>
                  <span>Moscow, Russia</span>                       
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a class="color-indicate">TH</a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tommy Hilfiger</a></h4>
                  <span>Sydney, Australia</span>                       
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a class="color-indicate">T</a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tomboy’s</a></h4>
                  <span>Washington, USA</span>                       
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a class="color-indicate">TO</a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Toms</a></h4>
                  <span>Fulham County, England</span>
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a class="color-indicate">TF</a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tom Ford Internation</a></h4>
                  <span>Austin, Texas, UK</span>
                </div>
              </li>

            </ul>
          </div>
          <div class="dropdown-footer">
            <a>See All <i class="caret rotate-flip-horizontal"></i></a>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="dropdown-header">
            <span class="text">MEDIA</span>
          </div>
          <div class="dropdown-body">
            <ul class="media-list color-list">
              <li class="media">
                <div class="media-left"><a class="color-indicate">TT</a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tommy Williams</a></h4>
                  <span>Moscow, Russia</span>                       
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a class="color-indicate">TH</a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tommy Hilfiger</a></h4>
                  <span>Sydney, Australia</span>                       
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a class="color-indicate">T</a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tomboy’s</a></h4>
                  <span>Washington, USA</span>                       
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a class="color-indicate">TO</a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Toms</a></h4>
                  <span>Fulham County, England</span>
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a class="color-indicate">TF</a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tom Ford Internation</a></h4>
                  <span>Austin, Texas, UK</span>
                </div>
              </li>

            </ul>
          </div>
          <div class="dropdown-footer">
            <a>See All <i class="caret rotate-flip-horizontal"></i></a>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <div class="dropdown-header">
            <span class="text">PAGES</span>
          </div>
          <div class="dropdown-body">
            <ul class="media-list color-list">
              <li class="media">
                <div class="media-left"><a class="color-indicate">TT</a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tommy Williams</a></h4>
                  <span>Moscow, Russia</span>                       
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a class="color-indicate">TH</a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tommy Hilfiger</a></h4>
                  <span>Sydney, Australia</span>                       
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a class="color-indicate">T</a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tomboy’s</a></h4>
                  <span>Washington, USA</span>                       
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a class="color-indicate">TO</a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Toms</a></h4>
                  <span>Fulham County, England</span>
                </div>
              </li>
              <li class="media">
                <div class="media-left"><a class="color-indicate">TF</a></div>
                <div class="media-body"> 
                  <h4 class="media-heading"><a class="btn-link">Tom Ford Internation</a></h4>
                  <span>Austin, Texas, UK</span>
                </div>
              </li>

            </ul>
          </div>
          <div class="dropdown-footer">
            <a>See All <i class="caret rotate-flip-horizontal"></i></a>
          </div>
        </div>
        <div class="col-xs-12 hide">
        <div class="nodata-panel">
            <div class="nodata-text"> <span class="nodat-icon">     
              <span class="nodata-fill-circle rotate-flip-vertical">        
              <svg class="svg-icons" width="42px" height="42px">
                <use xlink:href="assets/img/sprite.svg#searchIco"></use>
              </svg>
              </span>
            </span>
              <p>No Result Found!</p>
            </div>
          </div>
        </div>

      </div></div>
      </div>

  </div>
  </nav>
</header>
