<header class="navbar-transparent">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header"> <a class="navbar-brand" href="home.html">
        <svg class="svg-icons">
          <use xlink:href="assets/img/sprite.svg#logoIco"></use>
        </svg>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-custom">
        <li><a data-back="top" data-ng-click="formFlip=false">LOGIN</a></li>
        <li><a data-back="top" data-ng-click="formFlip=true">SIGN UP</a></li>
      </ul>
    </div>
  </nav>
</header>
